[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {editable = true, ref = "rewrite", git = "https://github.com/Rapptz/discord.py.git"}

[dev-packages]

[requires]
python_version = "3.7"
